body {
    background-image: url(./images/space5.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;

    min-height: 900px;
    min-width: 1200px;
    backdrop-filter: blur(1px) brightness(50%);
    margin: 0px;
    font-family: "Museosanscyrl300";
    position: relative;
}



header {
    height: 100px;
    outline: 1px solid #272b2f;
    outline-offset: -1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header__container {
    width: 1169px;
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0;
   
}


h1>div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

h1>div>span:nth-child(1) {
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 30%, #fd0000 100%);
    text-transform: uppercase;
    font-family: 'Museosanscyrl700';
    font-size: 58px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}

h1>div>span:nth-child(2) {
    background: -webkit-linear-gradient(45deg, #ffffff 0%, #ffffff 30%, #fd0000 170%);

    font-family: 'Museosanscyrl700';
    font-size: 25px;
    text-transform: lowercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.img__planet {
    background-image: url(./images/planet-clip2.png);
    background-repeat: no-repeat;
    filter: drop-shadow(20px 20px 50px rgb(231, 81, 0));
    background-size: cover;
    width: 385px;
    height: 385px;
    top: 50%;
    left: 50%;
    z-index: 100;
    visibility: visible !important;
}

.main-container {

    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
    margin: 0 auto;
    justify-content: center;
    top: 45%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.planet__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
}

.planet__circle {
    width: 5px;
    height: 5px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%;
    z-index: 101;
    transform: translate(190px, 313px);

}


.logo__container {
    position: relative;
    display: inline-block;
    height: 100%;
    width: fit-content;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #272b2f;
    outline-offset: -1px;
    position: relative;
}


.logo_corner {
    position: absolute;
    background-repeat: no-repeat;
    width: 7px;
    height: 7px;
    background-image: url('./images/corner.png');

}

.logo_corner:nth-child(1) {
    top: 0px;
    left: 0px;
    transform: rotate(0deg);
}

.logo_corner:nth-child(2) {
    top: 0px;
    right: 0px;
    transform: rotate(90deg);
}

.logo_corner:nth-child(3) {
    bottom: 0px;
    left: 0px;
    transform: rotate(270deg);
}

.logo_corner:nth-child(4) {
    bottom: 0px;
    right: 0px;
    transform: rotate(180deg);
}



.logo__image {
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 37px;
    width: 271px;

}

.nav__container {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    z-index: 1001;
}

.nav__container>li {
    margin: 0 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.nav__link {
    display: flex;
    font-family: "Museosanscyrl300";
    font-size: 16px;
    align-items: center;
    color: #ffffff;
    height: 25px;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.5s;
    border-bottom: 1px solid transparent;

}

.nav__link:hover {
    opacity: 0.6;
    border-bottom: 1px solid white;
}

.travel__image {
    position: relative;
    margin: 0 auto;
    width: 586px;
    height: 230px;
    left: 374px;
    top: 243px;
}

.title__wrapper {
    position: relative;
    width: 392px;

}

.title__container {
    padding-top: 61px;
    width: 440px;
}


.btn_start {
    position: relative;
    margin-top: 70px;
    width: 200px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    font-family: Museosanscyrl300;
    font-size: 1em;
    color: white;
    background: transparent;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-image: linear-gradient(to left bottom, #29538b 10%, transparent 50%, #577fb3 90%);
    border-image-slice: 1;
    transition: 0.5s;

}

.btn_start:hover {
    background: #095ea488;

}

.btn_start:active {
    box-shadow: 0 0 12px #1389E6;
    background: #095fa4;
}

.btn_corner {
    position: absolute;
    width: 5px;
    height: 5px;
    background-image: url('./images/corner.png');
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255))
}


.btn_corner:nth-child(1) {
    top: -1px;
    right: -1px;
    transform: rotate(90deg);
}

.btn_corner:nth-child(2) {
    bottom: -1px;
    left: -1px;
    transform: rotate(270deg);

}


.numbers__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 392px;
    height: 385px;
    align-items: center;

}

.numbers__container {
    display: inline-grid;
    grid-template-columns: repeat(2, auto);
    box-sizing: border-box;
    gap: 7px;
    background-color: white 50%;
    z-index: 1000 !important;



}

.numbers__element {
    width: 150px;
    height: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    color: #ffffff;
    cursor: pointer;
}



.numbers__background {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease-in;
    opacity: 0.1;
}


.numbers__background:hover {
    opacity: 0.3;

}

#element1 {
    background: -webkit-linear-gradient(135deg, rgba(255, 255, 255) 0%, transparent 50%, transparent 90%);
}

#element2 {
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255) 0%, transparent 50%, transparent 90%);
}

#element3 {
    background: -webkit-linear-gradient(-135deg, rgba(255, 255, 255) 0%, transparent 50%, transparent 90%);
}

#element4 {
    background: -webkit-linear-gradient(-45deg, rgba(255, 255, 255) 0%, transparent 50%, transparent 90%);
}

.numbers__element>span {
    font-family: "Museosanscyrl300";
    font-size: 18px;
}


.numbers__element>span:nth-child(2) {

    font-family: "Museosanscyrl700";
    font-size: 60px;
}

.numbers__element>span:nth-child(2)>span {

    font-family: "Museosanscyrl300";
    font-size: 20px;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

.line {
    transform-origin: top left;
    position: absolute;
    z-index: 1000;
    height: 1px;
    background: white;

}

.line--gradient1 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.162), rgba(255, 255, 255, 0.327))
}

.line--gradient2 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.327), white)
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(45deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-45deg);
}



@media (max-width : 1200px) {
    .main-container {
        flex-direction: column;
        transform: translate(0%, 0%) !important;
        top: 0 !important;
        left: 0 !important;

    }

    body {
        height: 100%;
        width: 100%;
        min-width: 375px;
        padding: 0 0 100px;
        background-repeat: no-repeat;
    }

    header,
    .title__wrapper {
        padding-left: 70px;
    }

    header {
        padding-right: 70px;
        height: 50px;
    }

    .header__container {
        width: 100vw;
    }


    h1>div>span:nth-child(1n) {
        font-size: 35px;
    }

    h1>div>span:nth-child(2n) {
        font-size: 14.5px;
    }

    .logo__image {
        width: 150px;
        height: 18px;
    }

    .title__wrapper,
    .title__container,
    .main-container {
        width: auto;
    }

    .planet__container {
        height: 400px;
    }

    .img__planet {
        width: 320px;
        height: 320px;
    }

    .numbers__wrapper {
        margin: 0 auto;
        width: 375px;
        justify-content: center;
    }


    .menu-button-container {
        display: flex;
    }

    .nav__container {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .btn_start {
        margin-top: 30px;
        font-size: 12px;
        width: 255px;
    }

    #menu-toggle~.nav__container li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked~.nav__container li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .nav__container>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
        opacity: 0.95;
    }

    .nav__container>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}


@font-face {
    font-family: "Museosanscyrl700";
    src: url("./fonts/Museo Sans Cyrl 700.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Museosanscyrl300";
    src: url("./fonts/Museo Sans Cyrl 300.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Museosanscyrl100";
    src: url("./fonts/Museo Sans Cyrl 100.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
