
@media only screen and (min-device-width : 0px) and (max-device-width : 767.9px)
{
  
    body {
        min-width: 320px;
        max-width: 768px;
        background-image: url(images/background-mobile5.png)  ;  
        
        background-repeat: no-repeat;
        /* background-position: top; */
      height: 100vh;
      width: 100vw;
      background-size: cover;
    background-position: center, center;
    }

    header {
        height: 70px;
    }
   

    .logo__image {
        width: 150px;
        height: 20px;
    }
    .img__planet {
        display: none;
    }

    .traveltext__container {
        top: 100px;
    }
    .traveltext__line1 {
        font-size: 35px;
    }

    .traveltext__line2 {
        font-size: 18px;
    }

    .numbers__middleline {
        font-size: 40px;

    }

    .numbers__upperline {
        font-size: 12px;

    }

    .numbers__element {
        width: 120px;
        height: 120px;
    }
    .button_start {
        left: 50%;
        transform: translateX(-50%);
        top: 70vh;
        width: 247px;
        height: 5vh;
        z-index: 11000;

    }

    .numbers__container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);  
        top:78vh;    
    }



    
    .menu-button-container {
        display: flex;
      }
      .nav__container {
        position: absolute;
        top: 0;
        margin-top: 70px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
      }
      #menu-toggle ~ .nav__container li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      #menu-toggle:checked ~ .nav__container li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      .nav__container > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
        opacity: 0.95;
        /* backdrop-filter: blur(100px); */
          }

      .nav__container > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023.9px) {

    body {
        min-width: 768px;
        max-width: 1024px;
        width: 100vw;
    }
    header {
        height: 70px;
    }

    .traveltext__container {
        top:190px;
    }
    .numbers__container {
        top:120px;
        right: 10vw;
    }

    

    .logo__image {
        width: 150px;
        height: 20px;
    }
    
    .nav__container {
    }

    .nav__link {
    font-size: 11px;
    }

    .traveltext__line1 {
        font-size: 45px;
    }

    .traveltext__line2 {
        font-size: 20px;
    }

    .numbers__middleline {
        font-size: 40px;

    }

    .numbers__upperline {
        font-size: 12px;

    }

    .numbers__element {
        width: 120px;
        height: 120px;
    }

    .button_start {
        width: 160px;
        left: 3vw;
        top: 586px;

    }
    
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1390px)
{
    .traveltext__container {
        top:300px;
    }
    .numbers__container {
        top:300px;
    }
    body {
        min-width: 1024px;
        max-width: 1390px;
    }
}

